extends layout
block content
  .columns.large-12
    h2 404: You have found the middle of nowhere
    img(src="https://lh3.googleusercontent.com/8R4HYIhPXsvtYdIFBUVkyS0Yz45ASZ0LkDfyG9yyGe87E39_E5aIljajO_VC1XGxeWs_rbrUiL9LC79no1s6F4437RkTYgD2895mghD7TgXAETMgFVK5E_EhsU6EyI-RbLePb8dtsY8bhLqY0M5ro3-YwVyo64l-2XkNgly6pBdcHj-aDZpqR9B4jwAbsvQ2UgdasC-v1b7aljz9sL7aSq16p09sewGSUHBpj-wN2ahxAWfcTQyAJVl7DZhaS48VqqoApROS-7iQXMurls6KXixL5PQHEHSfdrtz6VsGfo3y6Ys-EV15-U0JeU9Egz6nTa2bhRqcn06JVoBjVdAs427GDPXf4uOrzO6nMtHowVfR1vW-edfZ7thZPzb-tiIA192ASAKN6rvS8QzybrSwbd3_t5aW7FzqWkcTJM6WQYgu2WJ9LOH18WVGR5RJGojlmtiwuN_c4sy2JscESaxLVNNUKp8i538qD_2_0DF9CN46HWKZLrfHtLCbNVllmIk3GUvYqH-hhDerYh2j0_qzb7lPEeTj04T9tGh_e3K70trt4JlC3EyGtmY6lwAcOdTWeo6lG4F8mLIPtmq91yIlhLI7mldNwt_U=w979-h734-no")
