extends layout

block content
  .main-container
    h1 Adventures and Travels
    p <a href="meaninglite.tumblr.com">View on Tumblr</a> | <a href="meaninglite.tumblr.com/archive">Post Archive</a> | <a href="meaninglite.tumblr.com/rss">RSS Link</a>
    <script type='text/javascript' src='http://meaninglite.tumblr.com/js'></script>
    
