extends layout

block content

  .row
    .column.large-12
      h1 CLIMATE CHANGE FOR CHANGEMAKERS
      <hr>
  .row        
    .column.large-8.right.small-12
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeY0nX5XvmM2795fGK06CL-ePCxfy4oSXGMkRfz2mnmX832UA/viewform?embedded=true" width="100%" height="437" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
      p <hr><br>
        b How can you use your skills to make an impact on a global scale?
      
      p I've been a first employee, an engineer, and a product professional in the tech startup world. I wanted to take these skills to do work on one of the world's biggest challenges: climate change. I've spent the last couple of years learning, taking notes, and testing product ideas.
      
      p
        b I'm writing this book to help you get up to speed quickly.
      p This book is designed to help you (an engineer, entrepreneur, or aspiring climate change techie) move from "climate change is important, but what can I do?" to "I'm interested in working on this specific technology, can have an intelligent conversation about it, and know where to go next."
    .column.large-4.left.small-12
      h3 A book to help engineers and entrepreneurs get up to speed in the climate change sector.
      p by
        a(href='//ifoundthemeaningoflife.com' dest='_new')  Kelsey Breseman
      <br/>
      img(src='https://lh3.googleusercontent.com/ZU9yYxVb1gCSMdL3M_WdZQEPzqUSQdYU106Xhj1lqNejnFD27BDgIoGT1q9z8AjtT-UJGegBr8I=w278-h437-no')
  .row
    .column.large-12(style='margin-bottom:20px;')
      <hr>
      h2 What to expect in this book:
      h3 Main sections:
      p
        ul
          li Preface: Who this book is for, and how to use it
          li Introduction: Scale and urgency
          li Social, Political, and Economic Context
          li Energy
            li
              i ... (lots of energy sections, see below)
          li Comparing solutions
          li Areas of opportunity
          li Glossary
          li Bibliography
            
      h3 In each energy chapter:
      p
        ul
          li Introduction and potential impact of the technology
          li What is this– how does it work? What is/are the basic mechanism(s)?
          li What’s the level of technology readiness– is/how widely is this deployed?
          li Social context & controversy
          li What are the biggest adoption challenges faced by this technology/what are the interesting parts that are being worked on?
          li Conclusion: Overall likely impact, what it depends on, and where you would look to get more involved
          
      h3 Energy sections covered:
      p
        ul
          li 
            i Old guard: fossil fuel
          li Oil
          li Coal
          li Natural Gas
          li 
            i New hype: renewables
          li Solar
          li Wind
          li Synthetic fuels
          li Tidal
          li Wave
          li Geothermal
          li Nuclear
          li 
            i Fixing what we have
          li Efficiency
          li Infrastructure
          li Storage
      
      h2 Can't wait?
      p Access early notes for the book by filling out the interest form at the top of this page.
