h1 Climate Change for Changemakers
h3 A book to help engineers and entrepreneurs get up to speed in the climate change sector.
h4 by Kelsey Breseman
img(src='https://lh3.googleusercontent.com/ZU9yYxVb1gCSMdL3M_WdZQEPzqUSQdYU106Xhj1lqNejnFD27BDgIoGT1q9z8AjtT-UJGegBr8I=w278-h437-no')
h1
  a(href='https://docs.google.com/forms/d/e/1FAIpQLSeY0nX5XvmM2795fGK06CL-ePCxfy4oSXGMkRfz2mnmX832UA/viewform?usp=sf_link') Sign up here to be notified when the book is available!
  
h2 What to expect in this book:
p Main sections:
  ul
    li Preface: Who this book is for, and how to use it
    li Introduction: Scale and urgency
    li Social, Political, and Economic Context
    li Energy
      li
        i (see below)
    li Comparing solutions
    li Areas of opportunity
    li Glossary
    li Bibliography
      
p In each energy chapter:
  ul
    li Introduction and potential impact of the technology
    li What is this– how does it work? What is/are the basic mechanism(s)?
    li What’s the level of technology readiness– is/how widely is this deployed?
    li Social context & controversy
    li What are the biggest adoption challenges faced by this technology/what are the interesting parts that are being worked on?
    li Conclusion: Overall likely impact, what it depends on, and where you would look to get more involved
    
p Energy sections covered:
  ul
    li 
      i Old guard: fossil fuel
    li Oil
    li Coal
    li Natural Gas
    li 
      i New hype: renewables
    li Solar
    li Wind
    li Synthetic fuels
    li Tidal
    li Wave
    li Geothermal
    li Nuclear
    li 
      i Fixing what we have
    li Efficiency
    li Infrastructure
    li Storage
    
h2 Can't wait?
a(href='https://frijol.gitbooks.io/climate-change/content/') Access early notes for the book (free/open).
