extends layout

block content
  .main-container
    h1 Coding
    
    p I'm primarily a Node developer. I write web frontend and JavaScript firmware with Technical Machine.
    p Feel free to check out my <a href="//github.com/Frijol">Github</a>.
    
    h3
      a(href="/learntocode") Coding Lessons
    p (work in progress) This work in progress is a pathway between the existing tools to try to help a new coder learn development with a minimum of frustration.
    