extends layout

block content
  .main-container
    h1 Editing
    
    p I very much enjoy helping people improve their writing. I was Editor in Chief of my college newspaper for three years, briefly slush read for a sci fi/fantasy magazine, and professionally edited for the Technical Machine blog.
    
    p Do you have work you'd like to improve? I'm happy to help you, for free– be it technical, trivial, or fantastical. Message me on <a href="//twitter.com/ifoundtheme">Twitter</a> to start the conversation!
    
    p
      b Previous work:
      ul
        li
          a(href="http://shop.oreilly.com/product/0636920041504.do") An O'Reilly Book (2016)
        li
          a(href="http://franklyspeakingnews.com/") Frankly Speaking, 2011-2013
        li
          a(href="//tessel.io/blog") Technical Machine Blog (2013- )
    
    
