extends layout

block content
  .main-container
    h1 Editing
    
    p I very much enjoy helping people improve their writing. I was Editor in Chief of my college newspaper for three years, briefly slush read for a sci fi/fantasy magazine, and currently edit for the Technical Machine blog.
    
    p Do you have work you'd like to improve? I'm happy to help you, for free– be it technical, trivial, or fantastical. Message me on <a href="//twitter.com/selkeymoonbeam">Twitter</a> to start the conversation!
    
    p
      b Previous work:
      ul
        li
          a(href="http://franklyspeakingnews.com/") Frankly Speaking, 2011-2013
        li
          a(href="//blog.technical.io") Technical Machine Blog
        li Friends' manuscripts and papers
    
    
