extends layout

block content
	h1 Kelsey Breseman

	p Forest · Circus · Making · Tessel · Olin · Spanish · Orienteering · Adventure

	<h3>Sometimes I write.</h3>
	<p>I've done <a href="http://ifoundthemeaningoflife.tumblr.com/">interviews</a>, am obsessed with <a href="http://aspiringlexicographer.tumblr.com/">words</a>, wrote <a href="http://digitalcommons.olin.edu/cgi/viewcontent.cgi?article=1025&context=ahs_capstone_2012">a series of short stories</a> once, and occasionally <a href="http://ifoundthemeaningoflife.blogspot.com/">ramble about poetry or philosophy</a>.</p>
	<h3>Sometimes I make.</h3>
	<p>A lot of things I've made are on <a href="http://instructables.com/member/SelkeyMoonbeam">Instructables</a>. There might be some more <a href="http://www.pinterest.com/frijoldelaluna/things-i-made/">here</a>.</p>
	<h3>Right now I'm proud to be a part of <a href="http://technical.io">Technical Machine</a>, particularly in trying to attract <a href="http://www.pinterest.com/frijoldelaluna/technical-machine-press-shamelessly-collected/">press</a>.</h3>
	<p>Relatedly, I'm learning to <a href="http://github.com/Frijol">code</a>. </a>Before, I was at <a href="http://olin.edu">Olin College</a>, which I think is really wonderful.</p>
	<h3>You can talk to me if you want.</h3>
	<p>I'm on <a href="http://twitter.com/selkeymoonbeam">Twitter</a>, <a href="http://www.linkedin.com/pub/kelsey-breseman/30/35/845">LinkedIn</a>, and probably <a href="https://plus.google.com/103328748724367873944/posts">some other places around the web</a>.</p>
