extends layout

block content
  .main-container
    h1 Interviews
    p I like to interview interesting people, to see if I can tell their stories. Here is my collection so far:
    <script type='text/javascript' src='http://ifoundthemeaningoflife.tumblr.com/js'></script>
