extends layout

block content
  .main-container
    h1 Mentoring

    p I'm a part of <a href="http://technical.io">Technical Machine</a> (we make <a href="http://tessel.io">Tessel</a>). I'm also a neural engineer, a wilderness child, and an adventurer.
    