extends layout

block content
  .main-container
    h1 Mentoring

    p /mentoring is a distributed mentorship movement. You can read more by going to <a href="http://mentoring.is/">mentoring.is</a> or you can dive right in on <a href="https://github.com/dianakimball/mentoring">Github</a>.
    p Not everyone is comfortable asking for help without an invitation. This is that invitation! Passionate people inspire me, and I've learned a lot from talking to and interviewing people. If you ask, everyone has an interesting story. You're welcome to speak with me if you think it would be time well spent.
    p Here are some things I know about:
    
    p
      li Wilderness survival
    p
      li Being around at the very beginning of a company (and taking a major role in launching it)
    p
      li Traveling on the cheap/without a plan/backpacking/hitchhiking/camping
    p
      li Learning circus arts
    p
      li Attending engineering college/getting a degree in Neural Engineering
      
    p If you’d like to work together, you can write me a letter responding to the questions below. I’ll write back to all letters I receive in this way within two weeks no matter what. In response to the most exceptional letters, I’ll propose further correspondence—and in certain cases, an ongoing mentoring relationship.
    p
      li Tell me about yourself. How did you become who you are, and who do you want to become?
    p
      li What do you hope to gain from our mentoring relationship?
    p
      li What have you been thinking about lately? Any words or ideas that are stuck in your mind?
    
    p Add links to any profiles or projects you’re proud of, and send it all in an email to ifoundthemeaningoflife at gmail dot com.

    p I look forward to hearing from you.