extends layout

block content
  .main-container
    h1 Pelican, Alaska: A Visitor's Guide
    
    p <a href='#juneau'>Flying to Juneau</a> | <a href="#ferry">Ferry Juneau – Pelican</a> | <a href="#seaplane">Seaplane Juneau – Pelican</a> | <a href="#sunnyside">Sunnyside</a> | <a href="#packing">Packing List</a>
    
    h2#travel Getting there
    
    <iframe width="100%" height="350" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?zoom=5&center=57.9608%2C-136.2275&key=AIzaSyD0UHHHqj_pAmYG9Z3sEuOHiN91tdRcsXs"></iframe>

    p Our typical route is to fly to Juneau, stay a night at the Travelodge, take the ferry to Pelican, then return either on the ferry or by seaplane.
    p It's also possible to route through Sitka, though I haven't done it.
    
    h3#juneau Flying to Juneau
    p Flights to Juneau are pretty expensive, typically on the order of $300 round trip for the SEA-JNU leg (if you book well in advance).
    p You'll most likely want to fly in to Juneau the day before the ferry, because the ferry leaves very early in the morning.
      | We typically stay at the Travelodge, walking distance from the airport. It has a free shuttle to the ferry in the morning.
    p We use that time to shop for supplies.
      | Juneau is not nicely built for those of us with no car, so there will be some sort of adventure getting to Home Depot and Costco (which are next to each other but far from other things).
    p There are some neat hikes in Juneau– the Mendenhall Glacier and Mt. Roberts are both cool. There's also a somewhat touristy but still interesting downtown. You can get to these places on a bus if you want and have the time.

    h3#pelican Juneau - Pelican
    
    <iframe width="100%" height="350" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?zoom=8&center=57.9608%2C-136.2275&key=AIzaSyD0UHHHqj_pAmYG9Z3sEuOHiN91tdRcsXs"></iframe>
    
    h4#ferry Ferry: Juneau – Pelican
    p The cheapest way to get to Pelican is on the ferry.
    p The ferry visits Pelican every two weeks (except in the winter). It's a 10-hour voyage on the LeConte, via Gustavus. You can look up schedules <a href="https://www.dot.state.ak.us/oars/reservations/CalendarFM.amhsf">here</a>.
    p The cost is $50, and you don't have to make a reservation.
    p The ferry is enjoyable and local. Most people on it know each other. There's a galley where breakfast and lunch are served, and a solarium on the top deck with reclining chairs and heat lamps, so you can sit outside, warm, and watch your passage through the fjords. There are usually whales and eagles.

    h4#seaplane Seaplane: Juneau – Pelican
    p If you're not traveling on the ferry's schedule, you can buy a seat on a seaplane, run by <a href="http://www.flyalaskaseaplanes.com/">Fly Alaska Seaplanes</a>.
    p Cost is ~$175 one way.
    p It's a nice 90-minute trip in a 4-6-seat plane, flying over forested mountains, whale pods, etc., and landing on the water.
    p Be careful, though– the planes can't fly if the weather is bad. They are regularly delayed due to weather, so no guarantee that you'll make your flight home if you count on flying out of Pelican to catch an Alaska Airlines flight the same day.

    h2#aboutPelican Pelican
    
    <iframe width="100%" height="350" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?zoom=14&center=57.9608%2C-136.2275&key=AIzaSyD0UHHHqj_pAmYG9Z3sEuOHiN91tdRcsXs"></iframe>
    
    p It's a little boardwalk town; you can see all of it without trying hard.
    p Salient landmarks:
      ul
        li The Lisianski Inlet Cafe: Karen and Victo will take good care of you, with fish burgers and generous bowls of borscht. There's also wifi and plug outlets, and a little black dog named Mooshka.
        li The dump: if the garbage isn't burning and there isn't a bear rooting around, this is the only place you can get a consistent cell signal.
        li Breseman's Liquors: Aunt Bonnie's house.
        li The library: ever-changing hours, but features Wifi and a book exchange.
        li Hike to the dam: short, steep, cool hike to Pelican's water supply/wooden dam.
        li The stream: if you turn right at the top of the dock, there's a bridge over a stream which is salmon-choked in August/September.

    h2#sunnyside Getting to Sunnyside
    
    <iframe width="100%" height="350" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q=Sunnyside%2C%20Alaska&key=AIzaSyD0UHHHqj_pAmYG9Z3sEuOHiN91tdRcsXs"></iframe>
    
    p Our place is out at Sunnyside, a beach to the north of Pelican. It consists of three livable cabins, all of which the bears have broken into at one time or another (but not while we're there). The smallest cabin is Lupine; we're still working on the big New Cabin, and the Old Cabin is slowly dying, but until then, quite cozy.
    p We have an 18' skiff, partially covered and big enough for 6 (comfortably). We'll usually use that to get back and forth between Sunnyside and Pelican. It takes about 10 minutes. Can depend on the tide– we use a rope outhaul, but Sunnyside has a very long beach, so if the boat goes high & dry we're stuck, and if the tide is low, you don't want to carry anything heavy.
    p In the past, we've borrowed Uncle John's canoe. It's about 30 minutes' hard paddle to town in good weather.
    p There is also a hike which can be completed at low tide from our cabin to the Pelican dump. It's steep and not well marked, but only an hour or so if you stay on track.

    h2#aboutSunnyside Sunnyside
    p
      b We have:
      ul
        li Freshwater stream/spring on the property
        li Lots of places to sleep
        li Beach, with outhaul
        li Some fishing equipment
        li An 18' skiff
        li Woodstoves & firewood
        li Gas-powered range & oven
    p
      b We do not have:
      ul
        li Electricity
        li Running water
        li Refrigeration
        li Cell coverage
        li Many mattresses/sheets/sleeping bags
    h2#packing Packing list essentials
    p
      ul
        li Xtratuf boots: 15" (we have some extra men's sizes around probably)
        li Complete waterPROOF raingear, head to toe
        li Life preserver (we might be able to lend you one)
        li Clothes that dry quickly, and lots of layers (we usually do laundry in the stream and hang clothes on a clothesline)
        li Cash– Pelican is a cash economy. Things are expensive (if you can get them– there's no grocery store), beause everything comes in on the boat.
        li Gloves are a good idea– leather ones for wood hauling and/or rubber ones for fish handling
        li Fishing license: if you plan to go fishing, you can get this online ahead of time or possibly in Juneau stores.
        li A swimsuit. Always bring a swimsuit.
