extends layout

block content
  .main-container
    h1 Pelican, Alaska: A Visitor's Guide
    p
      b Please read the whole thing carefully! Most of this information is here to answer questions we have been asked many times.
    p
      b Skip to:
      |  <a href='#juneau'>Flying to Juneau</a> | <a href="#ferry">Ferry Juneau – Pelican</a> | <a href="#seaplane">Seaplane Juneau – Pelican</a> | <a href="#sunnyside">Sunnyside</a> |
      b  <a href="#packing">Packing List</a>
    
    h2#travel Getting there
    
    <iframe width="100%" height="350" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?zoom=5&center=57.9608%2C-136.2275&key=AIzaSyD0UHHHqj_pAmYG9Z3sEuOHiN91tdRcsXs"></iframe>

    p
      b Most convenient method:
      |  Fly to Juneau (Alaska Airlines), then catch a seaplane to Pelican out of the same small airport (there are 2-3 daily on Fly Alaska Seaplanes). This way you can pick your own dates– though I recommend you stay at least a week.
    p
      b The way the locals go:
      |  From Juneau, catch the ferry. It goes 1-2 times/month, starting very early in the morning. Typically, we arrive the day before in Juneau, get supplies (and maybe check out the museum, hike the mountain, see the glacier, etc.), and then catch a ride to the ferry terminal. This is a great introduction to the remote island, as it's an all day boat ride with eagles and whales through beautiful fjords to Pelican. If you don't want to stay until the next ferry, take a seaplane back.
    
      h2#packing Packing list essentials
      p
        ul
          li <b>Xtratuf boots</b>: 15" height (we have some extra sizes around, ask well ahead of time). You need these in order to get in and out of boats every day (we don't have a dock). They're not optional, you'll also hike in them, and little calf-length ones aren't enough. <a href="https://amzn.to/2MshmTQ">These are the best ones</a>. You can also buy them a short walk from the Juneau airport at Alaska Industrial Hardware.
          li Complete waterPROOF <b>raincoat and rainpants</b>. The rainpants are even more important than the coat, and you will wear them every day. Water resistant is not good enough.
          li <b>Sleeping bag + mattress pad</b> (for indoor use)– ask first! We do have some mattresses/bedding, so you might not have to bring it.
          li Clothes that dry quickly, lots of <b>layers</b>, and many <b>wool socks</b> (we usually do laundry in the stream and hang clothes on a clothesline).
          li <b>Cash</b>– Pelican is a cash economy. Things are expensive (if you can get them– there's no grocery store), because everything comes in on the boat. There is an ATM in town, but it doesn't always have money.
          li <b>Fishing license</b>: if you plan to go fishing, you should get one <a href="https://l.messenger.com/l.php?u=https%3A%2F%2Fwww.adfg.alaska.gov%2FStore%2FHome%2FGuest&h=AT2AHYCuDtTzWKI_MPP14sGExy9ARZ-vKqZU7KGO4Y3QvVjkBbDfMgqgXABd3zhKYUkmlUjHCwt_YDhx0N--HXST_U1I6jqmbkRvCpUGFr2QDUDD0_4Gt7rGIO3LTE4O78O5Buux">here</a> and print it. You can take out the canoe whenever to go fishing.
          li <b>A swimsuit</b>. Always bring a swimsuit.
          li <b>Food</b>: figure out some meals you would like to cook for everyone, and make sure to bring the ingredients in your luggage! We have a lot of staples already, so check what's needed. Fresh vegetables/fruits are always welcome, and we will generally have a list of items needing resupply– check with us. Note that there is no refrigeration or grocery store. (There's a liquor store, though.)
          li <b>Bug spray</b> and your preferred method of dealing with inevitable bites. The mosquitos and no-see-ums can be nasty.
          li <b>Activities</b>: there's lots of daylight, good company, and many rainy days. Enjoy the disconnected life– don't forget your book, musical instrument, deck of cards, juggling balls, writing project, woodcarving plans, best stories to tell :). You will have the most fun if you come with a project in mind.
      
    h2 Travel and Destination Details
    
    h3#juneau Flying to Juneau
    p Flights to Juneau are typically on the order of $300 round trip for the SEA-JNU leg. Flights will all route through Seattle to Juneau.
    p If you're taking the ferry, you'll need to fly in to Juneau the day before and stay in one of the airport hotels e.g. Travellodge (around $100/room unfortunately). This is because the ferry leaves super early (6am I think?).
    p Juneau is not nicely built for those of us with no car. The airport, the ferry terminal, the shopping center (Lemon Creek), and downtown are all in different places. There are buses. Uber is an option, but not always available (not a lot of drivers). Not to discourage you from Juneau! But you must know this. There are hotels by the airport which offer free shuttle service to the ferry.
    p There are some neat hikes in Juneau– the Mendenhall Glacier and Mt. Roberts are both cool. There's also a somewhat touristy but still interesting downtown. You can get to these places on a bus if you want and have the time.

    h3#pelican Juneau - Pelican
    
    <iframe width="100%" height="350" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?zoom=8&center=57.9608%2C-136.2275&key=AIzaSyD0UHHHqj_pAmYG9Z3sEuOHiN91tdRcsXs"></iframe>
    
    h4#ferry Ferry: Juneau – Pelican
    p The cheapest way to get to Pelican is on the ferry.
    p The ferry visits Pelican every two to four weeks (except in the winter). It's a 10-hour voyage on the LeConte, via Gustavus. You can look up schedules <a href="https://www.dot.state.ak.us/oars/reservations/CalendarFM.amhsf">here</a>.
    p The cost is $50, and you don't have to make a reservation.
    p The ferry is enjoyable and local. Most people on it know each other. There's a galley where breakfast and lunch are served, and a solarium on the top deck with reclining chairs and heat lamps, so you can sit outside, warm, and watch your passage through the fjords. There are usually whales and eagles. Lay around, play cards, browse the book exchange.

    h4#seaplane Seaplane: Juneau – Pelican
    p If you're not traveling on the ferry's schedule, you can buy a seat on a seaplane, run by <a href="http://www.flyalaskaseaplanes.com/">Fly Alaska Seaplanes</a>.
    p Cost is ~$175 one way.
    p It's a nice 90-minute trip in a 4-6-seat plane, flying over forested mountains, whale pods, etc., and landing on the water.
    p Be careful, though– the planes can't fly if the weather is bad. They are regularly delayed due to weather, so no guarantee that you'll make your flight home if you count on flying out of Pelican to catch an Alaska Airlines flight the same day.
    p There's no security for seaplanes, so it's ok to bring liquids on the flight– just make sure you meet weight limitations.

    h2#aboutPelican Pelican
    
    <iframe width="100%" height="350" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?zoom=14&center=57.9608%2C-136.2275&key=AIzaSyD0UHHHqj_pAmYG9Z3sEuOHiN91tdRcsXs"></iframe>
    
    p It's a little boardwalk town; you can see all of it without trying hard.
    p Salient landmarks:
      ul
        li The Lisianski Inlet Cafe: Karen and Victo will take good care of you, with fish burgers and generous bowls of borscht. There's also wifi and plug outlets, and a little black dog named Mooshka.
        li The dump: if the garbage isn't burning and there isn't a bear rooting around, this is the only place you can get a consistent cell signal.
        li The library: ever-changing hours, but features Wifi and a book exchange.
        li Hike to the dam: short, steep, cool hike to Pelican's water supply/wooden dam.
        li The stream: if you turn right at the top of the dock, there's a bridge over a stream which is salmon-choked in August/September.

    h2#sunnyside Getting to Sunnyside
    
    <iframe width="100%" height="350" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q=Sunnyside%2C%20Alaska&key=AIzaSyD0UHHHqj_pAmYG9Z3sEuOHiN91tdRcsXs"></iframe>
    
    p Our place is out at Sunnyside, a beach to the north of Pelican. It consists of a small cluster of cabins we've built, all of which the bears have broken into at one time or another (but not while we're there). All cabins are always works in progress, but pretty comfy. The upshot is, there are plenty of places to sleep. Bring a sleeping bag/mattress, though– bedding not guaranteed.
    p There are no indoor toilets, but we recently built a beautiful new outhouse!
    p We have an 18' skiff, partially covered and big enough for 6 (comfortably). We'll usually use that to get back and forth between Sunnyside and Pelican. It takes about 10 minutes. Can depend on the tide– we use a rope outhaul, but Sunnyside has a very long beach, so if the boat goes high & dry we're stuck, and if the tide is low, you don't want to carry anything heavy.
    p We have a canoe. It's about 30 minutes' hard paddle to town in good weather.
    p There is also a hike which can be completed at low tide from our cabin to the Pelican dump. It's steep and not well marked, but only an hour or so if you stay on track.

    h2#aboutSunnyside Sunnyside
    p
      b We have:
      ul
        li Lots of places to sleep
        li Woodstoves & firewood
        li Full kitchen including gas-powered range & oven, cookware, dishware
        li Outhouse
        li Running water as of summer 2018! It's a home-made hydraulic ram system pumping cold water from the spring
        li Beach, with outhaul
        li Some fishing equipment
        li An 18' skiff
        li A canoe
    p
      b We do not have:
      ul
        li Electricity
        li Refrigeration
        li Cell coverage
        li Enough mattresses/sheets/sleeping bags that you can assume you're covered
        li Indoor toilet
        
    p
      b About bears:
    p There are grizzly bears here! You will probably see one, but you don't need to live in fear. We don't know anybody who has been charged by a bear. We'll give you an overview of how to not attract or surprise bears when you get here.
