extends layout

block content
  mixin project(pic, title, description, link)
    .row(style="margin-top: 20px")
      .columns.large-5
        img(src=pic)
      .columns.large-7
        b #{title}
        p #{description}
        p
          a(href=link) See more &rarr;
  
  .main-container
    h1 Projects
    p See all my work:
    p
      a(href="//github.com/Frijol") Github (Code projects, webapps, and more) 
    p
      a(href="//hackster.io/ifoundthemeaningoflife") Hackster (Tessel projects) 
    p
      a(href="//instructables.com/member/selkeymoonbeam") Instructables (Projects of all shapes and sizes, from recipes to robots and everything in between)
    
    h3 Selected projects
    
    +project('https://lh3.googleusercontent.com/-e7NhMX3LP2Q/VQye2vDy3BI/AAAAAAAANJk/vIwVBDOETag/w782-h419-no/Screen%2BShot%2B2015-03-20%2Bat%2B3.26.58%2BPM.png', "Tessel's First Run", "I designed and built the first run experience for Tessel. My objective: create the fastest and most enjoyable experience possible for going from zero hardware experience (and possibly no programming) to successful interaction between physical and digital parts. I designed and implemented this website, tested with users, and iterated on the design. For the average user, it takes under five minutes from unboxing to blinking lights.", 'https://github.com/technicalmachine/start.tessel.io')
    +project('https://lh6.googleusercontent.com/-50QKZj_ArNA/VQyjaECk4hI/AAAAAAAANKA/xQsiiuuerc8/w800-h464-no/Screen%2BShot%2B2015-03-20%2Bat%2B3.43.36%2BPM.png', "Beginner's Guide to Communication Protocols", "When Technical Machine introduced a DIY module, we felt we needed to bridge the gap between the electrical engineering required to use it and the web developer knowledge of most of our customers. I worked with a contractor to write this beginner's guide to communication protocols, which introduces an electrical engineering novice to GPIO, SPI, I2C, and UART.", 'https://tessel.io/docs/communicationProtocols')
    +project('https://halckemy.s3.amazonaws.com/uploads/cover_image/file/26770/cover_original-11-1413855461279-landscape-main.jpg', 'Tesselbot: RC Sumobot', "I made this websocket-controlled remote control car. It's all open source parts, based on laser cut files, and fun to play with!", 'http://www.hackster.io/ifoundthemeaningoflife/rc-sumobot')
    +project("https://halckemy.s3.amazonaws.com/uploads/cover_image/file/27425/cover_original-11-1418793250758-IMG_8929.jpg", 'BLE Proximity-Based Switch', 'Recognizes a specific BLE device and uses it to switch a relay on and off when that device is in range. Uses JavaScript, Node, Tessel.', 'http://www.hackster.io/ifoundthemeaningoflife/ble-proximity-switch')
    +project('http://cdn.instructables.com/FLF/OT13/H2WEQ2FP/FLFOT13H2WEQ2FP.LARGE.jpg', '3D Print Faux Gauge Earrings', 'This was a fun experiment in playing around with high-quality 3D printers, professional AutoCAD, crafting, and costumery. I CADed up some gauge earrings, printed them, then reconstructed to fit regular earholes.', 'http://www.instructables.com/file/FLFOT13H2WEQ2FP')
    +project('http://cdn.instructables.com/FTW/R70Z/H3O7LHA0/FTWR70ZH3O7LHA0.MEDIUM.jpg', 'Laser Cut World Clock', "Based on an existing time for a world clock, this laser cut clock is a cheap and simple way to tell the time anywhere in the world. Just rotate the clock so that the name of a city in the desired time zone is the right way up, and the clock's hands should be in the correct position.", "http://www.instructables.com/id/World-Clock/")
    +project('http://cdn.instructables.com/FPZ/XGUQ/H2CE6ZCL/FPZXGUQH2CE6ZCL.LARGE.jpg', 'Mathematically Fitted Clothing Design: Infinity Dress', "In order to fit the various shapes of people, most clothing patterns come with several \"standard\" sizes, all based on some average shape of human. There's a lot more variety to people than you can get out of some averaged outlines. This pattern is my experiment in designing pattern geometries that are fully defined by measurements of the wearer's body.", 'http://www.instructables.com/file/FPZXGUQH2CE6ZCL')
