extends layout

block content
  .main-container
    h1 Speaking

    p I enjoy having a voice in worthwhile topics. If you'd like me to speak or be a panelist for an event, please let me know! 
    
    p Prior speaking engagements:
    p
      li
        a(href="https://www.youtube.com/watch?v=LdATa51ejgM&feature=youtu.be")
          | Humans as Input and Output for O'Reilly SOLID Conference
    p
      li
        a(href="http://meaninglite.tumblr.com/post/74878401265/women-in-tech-talk")
          | Women in Tech talk for Rough Draft Ventures
    p
      li
        a(href="https://skillsmatter.com/skillscasts/5771-bringing-hardware-to-life-with-js-and-node")
          | Bringing Hardware to Life with JS and Node
