extends layout

block content
  .main-container
    h1 Speaking

    p I enjoy having a voice in worthwhile topics. If you'd like me to speak or be a panelist for an event, please let me know! 
    
    p Selected prior speaking engagements:
    p
      <iframe width="560" height="315" src="//www.youtube.com/embed/c93WZXIN3Jk" frameborder="0" allowfullscreen></iframe>
    p
      <iframe width="560" height="315" src="//www.youtube.com/embed/LdATa51ejgM" frameborder="0" allowfullscreen></iframe>
    p
      li
        a(href="http://meaninglite.tumblr.com/post/74878401265/women-in-tech-talk")
          | Women in Tech talk for Rough Draft Ventures
    p
      li
        a(href="https://skillsmatter.com/skillscasts/5771-bringing-hardware-to-life-with-js-and-node")
          | Bringing Hardware to Life with JS and Node
