extends layout

block content
  .main-container
    h1 Writing

    
    h3
      a(href="/adventures") Adventure Blog
    p Largely a travel blog, lately some thinkpieces as well. It updates frequently if I'm traveling, and very infrequently otherwise.
    
    h3
      a(href="https://medium.com/@SelkeyMoonbeam") Medium
    p Longer & encapsulated thoughts.
    
    h3
      a(href="/interviews") Interviews
    p I like to interview interesting people, to see if I can tell their stories.
    
    h3
      a(href="http://digitalcommons.olin.edu/cgi/viewcontent.cgi?article=1025&context=ahs_capstone_2012") Short stories (pdf)
    p In the fall of 2012, I spent three months backpacking Chile with my father. Over the course of the following year, I wrote these short stories based on my travels.
    
    h3 Free editing
    p Want someone to comment all over your post/paper/manuscript? I love tearing apart writing and helping people improve. Tweet at me if you're interested.
    
