extends layout

block content
  .main-container
    h1 Writing

      a(href="http://meaninglite.tumblr.com/") blog · 
      a(href="http://ifoundthemeaningoflife.tumblr.com/") interviews · 
      a(href="http://digitalcommons.olin.edu/cgi/viewcontent.cgi?article=1025&context=ahs_capstone_2012") short stories
    p Free editing: want someone to comment all over your post/paper/manuscript? Tweet at me.
    