extends layout

block content
  .main-container
    h1 Writing
    
    h3
      a(href="http://blog.technical.io/search/kelsey+breseman") Technical Machine Blog
    p Most of my writing lately has been on the Technical Machine blog, discussing various issues of community, design, internal processes, open source, and technical work.
    
    h3
      a(href="http://meaninglite.tumblr.com/") Adventure Blog
    p This is where I record my adventures. It updates frequently if I'm traveling, and very infrequently otherwise.
    
    h3
      a(href="http://ifoundthemeaningoflife.tumblr.com/") Interviews
    p I have been interviewing interesting individuals (mostly professors) for the past five years. This blog covers all of the interviews I've given.
    
    h3
      a(href="http://digitalcommons.olin.edu/cgi/viewcontent.cgi?article=1025&context=ahs_capstone_2012") Short stories (pdf)
    p In the fall of 2012, I spent three months backpacking Chile with my father. Over the course of the following year, I wrote these short stories based on my travels.
    
    h3 Free editing
    p Want someone to comment all over your post/paper/manuscript? I love tearing apart writing and helping people improve. Tweet at me if you're interested.
    
