extends layout

block content
  .main-container
    h1 Writing
    
    //- <script type='text/javascript' src='http://ifoundthemeaningoflife.tumblr.com/js'></script>
    
    h3
      a(href="//tessel.io/blog") Tessel Blog
    p I write and edit most of the Tessel blog, discussing various issues of community, design, internal processes, open source, and technical work. All of the posts not written by me are edited by me. (External link.)
    
    h3
      a(href="http://meaninglite.tumblr.com/") Adventure Blog
    p This is where I record my adventures. It updates frequently if I'm traveling, and very infrequently otherwise.
    
    h3
      a(href="/interviews") Interviews
    p I like to interview interesting people, to see if I can tell their stories. This blog includes interviews of professors, of interesting individuals, and of Technical Machine customers (highlighting their Tessel use cases).
    
    h3
      a(href="http://digitalcommons.olin.edu/cgi/viewcontent.cgi?article=1025&context=ahs_capstone_2012") Short stories (pdf)
    p In the fall of 2012, I spent three months backpacking Chile with my father. Over the course of the following year, I wrote these short stories based on my travels.
    
    h3 Free editing
    p Want someone to comment all over your post/paper/manuscript? I love tearing apart writing and helping people improve. Tweet at me if you're interested.
    
