extends layout

block content
  .main-container
    h1 Yule: an invitation
    p
      i
        b Candles burn in the dark forest. At the door, a knock– dare you leave the comfort of the hearth? What journey awaits? Read carefully, lest the night take you unprepared:
    p
      b When: 
      | Saturday, December 14th, 2019, 5–11pm
    p
      b Where: 
      | Our Wildwood home (Near Maltby. RSVP for address)
    p
      b Bring: 
      i "Nesti og nýja skó"– 
      | in Icelandic folktales, this is all that is needed for a journey: provisions and a pair of fresh shoes.
      p
        i Provisions– 
        | Please bring something tasty: either something special you want to share; or veggies or drinks
      p
        i Dress– 
        | Classy but with shoes in which you'd traipse dark paths (you will take them off to come indoors anyway). Thematic (old Norse Iceland) encouraged. If it's very cold or wet, bring a layer– there are outside pieces to this party you won't want to miss.




    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScvTsbK51QQqdtm4iR1iQTv5j_lvn_XfScPVShNUimVJNerNA/viewform?embedded=true" width="640" height="823" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>