a {
  color: #222299;
  text-decoration: none;
}

a:hover {
	color: #5555dd;
}

.top-bar {
  background: inherit;
}

.top-bar-section {
  background: #ffffff;
}

.main-container {
	background-color: #ffffff;
	margin-left: 5%;
	padding: 5%;
	max-width: 860px;
}

.right-align {
	text-align: right;
	margin-left: 5%;
	max-width: 960px;
}

.social {
  margin-right: 5px;
}

#social {
	padding-top: 10px;
}

.tumblr_title {
  font-size: 1.6875em;
  font-family: "Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #222;
  text-rendering: optimizeLegibility;
  margin-top: .2em;
  margin-bottom: .5em;
  line-height: 1.2125em;
}

.tumblr_posts {
  color: white;
}

.tumblr_post {
  margin-bottom: 7em;
}

.tumblr_body {
  color: black;
  border-top: solid;
  border-top-width: .1em;
  padding-top: 1em;
}

.sidebar {
  border-left: solid;
  border-width: .1em;
  border-radius: 3;
  padding-left: 1em;
}
