body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #111ddd;
  text-decoration: none;
}

.social {
  margin-right: 5px;
}

.social:hover {
	background-color: black;
}

#social {
	padding-top: 10px;
}