@import './constants.scss';

.InfoCard {
  outline: 1px solid lightgray;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  max-width: 200px;
  img {
    width: 100%;
  }
  p {
    overflow-wrap: anywhere; 
  }
  margin: 10px;
  padding: 12px;
  color: rgb(88, 87, 87);
  &:hover {
    color: $darkprimary;
    background-color: lighten($primaryaccent, 35);
    img {
      opacity: .8;
    }
  }
}
