@import './constants.scss';

#Notification {
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
  }
  nav {
    border: 1px solid $darkprimary;
    border-radius: 10px;
    margin: 0 20px 0 20px;
    padding: 0 20px 0 20px;
    justify-content: center;
    display: flex;
    background-color: $primaryaccent;
    flex-grow: 1;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    a:hover {
      text-decoration: underline;
    }
  }
  input:checked + nav {
    display: none;
    #CloseIcon {
      display: none;
    }
  }
  input {
    display: none;
  }
  label {
    display: flex;
    flex-direction: row-reverse;
    flex: 0 0 100%; /* Let it fill the entire space horizontally */
  }
  input:checked {
    display: none;
  }

}
#CloseIcon {
  $width: 25px;
  $height: 25px;
  display: block;
  border-radius: 20px;

  &:hover {
    border: 1px solid $darkprimary;
    cursor: pointer;
  }
  
  width: $width;
  height: $height;
  background-repeat: no-repeat;
  background-size: $width $height;
  background-image: url('data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjMwMHB4IiB3aWR0aD0iMzAwcHgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiB4PSIwcHgiIHk9IjBweCI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik02LjcwNzExIDUuMjkyODlDNi4zMTY1OCA0LjkwMjM3IDUuNjgzNDIgNC45MDIzNyA1LjI5Mjg5IDUuMjkyODlDNC45MDIzNyA1LjY4MzQyIDQuOTAyMzcgNi4zMTY1OCA1LjI5Mjg5IDYuNzA3MTFMMTAuNTg1OCAxMkw1LjI5Mjg5IDE3LjI5MjlDNC45MDIzNyAxNy42ODM0IDQuOTAyMzcgMTguMzE2NiA1LjI5Mjg5IDE4LjcwNzFDNS42ODM0MiAxOS4wOTc2IDYuMzE2NTggMTkuMDk3NiA2LjcwNzExIDE4LjcwNzFMMTIgMTMuNDE0MkwxNy4yOTI5IDE4LjcwNzFDMTcuNjgzNCAxOS4wOTc2IDE4LjMxNjYgMTkuMDk3NiAxOC43MDcxIDE4LjcwNzFDMTkuMDk3NiAxOC4zMTY2IDE5LjA5NzYgMTcuNjgzNCAxOC43MDcxIDE3LjI5MjlMMTMuNDE0MiAxMkwxOC43MDcxIDYuNzA3MTFDMTkuMDk3NiA2LjMxNjU4IDE5LjA5NzYgNS42ODM0MiAxOC43MDcxIDUuMjkyODlDMTguMzE2NiA0LjkwMjM3IDE3LjY4MzQgNC45MDIzNyAxNy4yOTI5IDUuMjkyODlMMTIgMTAuNTg1OEw2LjcwNzExIDUuMjkyODlaIiBmaWxsPSJibGFjayIvPjwvc3ZnPg==');
}
