@import './constants.scss';

aside {
  flex-basis: 140px;
  a {
    display: block;
    color: black;
    padding-left: 5px;

    /* Left-to-right hover animation */
    /* Implementation taken from https://stackoverflow.com/questions/17212094/fill-background-color-left-to-right-css */
    background: linear-gradient(to left, transparent 50%, $primaryaccent 50%) right;
    background-size: 200%;
    transition: .4s ease-in-out;
    &:hover {
      background-position: left;
      background-color: $primaryaccent;
    }
  }
  hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
        border-top-color: $midprimary;
        border-top-style: none;
        border-top-width: 0px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: $midprimary;
  }
  margin-top: 20px;
}
