@import './constants.scss';

.Layout {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: $contentbackgroundcolor;
}

html {
  overflow-y: scroll;
  background-color: $darkprimary;
}

img {
  height: auto;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, a {
  color: $primary;
  text-decoration: none;
}

h1 {
  padding: 0 5px 0 5px;
  background-color: $primaryaccent;
}

.button {
  padding: 1rem 1.5rem 1rem 1.5rem;
  margin: 1rem;
  margin-left: 0;
  border-radius:10px;
  background-image: none;
  background-color: $primary;
  text-decoration: none;
  color: $primary;
}

ol > li {
  margin: 10px 0 10px 0;
}

.button {
  padding: 1rem 1.5rem 1rem 1.5rem;
  margin: 10px 0 10px 0;
  background-color: $secondaryaccent;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  box-shadow: 5px 5px 5px darkgrey;
  transition: transform 0.5s;
  &:hover {
    color: white;
    background-color: darken($secondaryaccent,10%);
    text-decoration: none;
    transform: scale(0.95);
  }
  cursor: pointer;
}

.button:active {
  transform: scale(0.9);
}

.middle {
  display: flex;
  justify-content: center;
  .container {
    gap: 20px;
    justify-content: space-between;
  }
}

main {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex: 1;
  a {
    color: $secondaryaccent;
    font-weight: bold;
    &:hover {
      color: $darkprimary;
    }
  }
  & > {
    img, a img {
      width: 100%;
      margin: 0 0 25px 0;
    }
    p, ul {
      line-height: 1.6;
      margin: 0 0 20px 0;
      li {
        margin: 0 0 10px 0;
      }
    }
  }
}

.section-break-image {
  width: 125px;
  height: 125px;
  align-self: center;
}

.active {
  background-color: $primaryaccent;
}

.container {
  width: $content-width;
  display: flex;
  margin: 0 20px 0 20px;
}


@media screen and (max-width: 600px) {
  aside {
    display: none;
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .button {
    margin-right: 10px;
  }
}

#can-form-area-contact-medicare-for-all-everywhere {
  z-index: 0;
  img {
    width: auto;
  }
}

#videoPlayer {
  width:100%;
  height: 545px;
}

@media (max-width: 1000px) {
  #videoPlayer {
    max-height: 250px;
  }
}